{% extends "base.html.twig" %}
{% block body %}
    <div class="col">
        <div class="row">
            <ul>
                <li><a href="#">Avoirs</a></li>
                <li><a href="#">Bon d'achats</a></li>
                <li><a href="#">Commandes</a></li>
                <li><a href="#">Comptes Client</a></li>
                <li><a href="{{ url('user_back.product.index') }}">Produits</a></li>
            </ul>
        </div>
    </div>
{% endblock %}