{% extends 'base.html.twig' %}

{% block title %}Mail modification de mot de passe envoyé{% endblock %}

{% block body %}
    <article class="content info">
        <div class="info_content">
            <section class="text-content text-center">
                Si l'adresse email que vous avez rentré existe bien dans Dinotoypia, un mail de réinitialisation lui a été envoyé.
                Le lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </section>
            <section class="text-content text-center">Si vous ne recevez pas le mail pensez à regarder dans vos spam ou <a href="{{ path('reset_password.request') }}">Réessayer</a>.</section>
        </div>
    </article>
{% endblock %}
