/*
body {
    background: url("../img/jungle_bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section div {
    background: white;
}
 */
ul {
    list-style-type: none;
}

