div {
    display: flex;
    font-family: Montserrat, sans-serif;
}

/* PARTIE CONTAINER TOP */
.container-top{
    flex-flow: row wrap;
    height: 80px;
    justify-content: space-evenly;
    background-color: #795016;
    font-weight: bold;
}
.container-top .container_logo img{
    width: 100px;
    height: 75px;
}
.container-top .container_search_bar{
    width: 40%;
}
.container-top .container_search_bar .form_search_bar{
    display: flex;
    width: 100%;
    align-items: center;
}
.container-top .container_search_bar #searchBar{
    width: 100%;
    text-align: right;
    color: #808080;
}
.container-top .container_menu{
    justify-content: space-between;
}
.container-top .container_menu .redirect-top{
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: white;
    text-decoration: none;
    padding-right: 10%;
    padding-left: 10%;
}
.container-top .redirect-top svg{
    width: 48px;
    height: 48px;
}

/* PARTIE NAV */
.nav-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 40px;
    background-color: #5B3C11;
}
.nav-container .container-sub-menu{
    width: 70%;
    justify-content: space-evenly;
}
.nav-container .container-sub-menu .redirect-sub-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: #795016 1px solid;
    border-right: #795016 1px solid;
    width: 20%;
    height: 100%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

/* PARTIE MAIN */
.container_content{
    background-color: #527e4d;
    min-height: 700px;
}

/* PARTIE FOOTER */
#top_footer{
    background-size: cover;
}
.menu_footer{
    background-color: #795016;
    min-height: 250px;
}




