/* PARTIE GLOBAL */
@font-face {
    font-family: 'CarterOne';
    src: url('fonts/CarterOne.ttf') format('truetype')
}
:root {
    --primary-color: #795016;
    --primary-pale-color: #DEB887;
    --secondary-color: #5B3C11;
    --container-content-bg: #527E4D;
    --content-bg: #FFFFFF;
}
.flex_content{
    display: flex;
    font-family: Montserrat, sans-serif;
}
.container_content .title_content{
    color: white;
}

ul {
    list-style-type: none;
}

.flew_column {
    flex-flow: column;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

/* PARTIE MAIN */
.container_content{
    flex-flow: column;
    background-color: var(--container-content-bg);
    min-height: 700px;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.container_content .content{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    margin-top: 5%;
    background-color: var(--content-bg);
    border-radius: 30px;
    width: 60%;
    justify-content: center;
}
.container_content .content .text-content{
    margin-top: 10px;
}

/* PARTIE FOOTER */
.footer_container{
    background-color: var(--primary-color);
    padding-top: 25px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.menu_footer{
    background-color: var(--primary-color);
    min-height: 200px;
}
.menu_footer .section_footer{
    flex-flow: row wrap;
    flex: 1 1 30%;
}
.menu_footer .section_footer:nth-child(2){
    border-left: white solid 1px;
    border-right: white solid 1px;
}

/* Page de connexion */
.container_content .connexion_content,
.container_content .register_content{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    margin-top: 2%;
    background-color: var(--content-bg);
    border-radius: 30px;
    width: 30%;
    height: 400px;
    justify-content: center;
}
.container_content .connexion_content #login_customer,
.container_content .register_content #register_form{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.container_content .connexion_content #login_customer .log_button,
.container_content .register_content #register_form .register_button,
.button_contact{
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    background-color: var(--secondary-color);
    border-radius: 40px;
    color: var(--content-bg);
    padding: 10px 17px 9px;
    margin: 0 10px 10px 0;
    transition: all .2s;
    text-align: center;
    font-weight: 600;
    border: 0;
    cursor: pointer;
}
.container_content .connexion_content #login_customer .log_button:hover,
.container_content .register_content #register_form .register_button:hover,
.button_contact{
    color: white;
    background-color: var(--primary-color);
}
/* page du checkout */
#Zone_Widget{
    margin-left: 12%;
}

#promocodeInputBtn:hover{
    cursor: pointer;
}

.container_recap_delivery{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.container_recap,
.container_delivery {
    flex: 1 48%;
    margin: 0% 1% 0% 1%;
    width: 30em;
}

/* Page d'inscription */
.container_content .register_content{
    height: 500px;
}
.container_content .register_content #register_form .input_register{
    margin-bottom: 15px;
}

/* Homepage Customer */
.container_customer_homepage{
    display:flex;
    flex-flow: row wrap;
    height: 200px;
}

.container_customer_homepage > a{
    flex: 1 1 31%;
    margin: 0% 0.5% 0% 0.5%;
}

.thumbnail{
    border: solid black 1px;
    border-radius: 10px;
    display: flex;
    height: 100px;
}

.thumbnail-img{
    width: 30%;
}

.thumbnail-body{
    flex-flow: column;
}

/* Partie reset password */

.reset_password_content{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    margin-top: 2%;
    background-color: var(--content-bg);
    border-radius: 30px;
    width: 50%;
    justify-content: center;
    padding: 20px;;
}

.confirm_button {
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    background-color: var(--secondary-color);
    border-radius: 40px;
    color: var(--content-bg);
    padding: 10px 17px 9px;
    margin: 0 10px 10px 0;
    transition: all .2s;
    text-align: center;
    font-weight: 600;
    border: 0;
    cursor: pointer;
    float: center;
}

.confirm_button:hover {
    color: white;
    background-color: var(--primary-color);
}

.info {
    flex-flow: column;
}

.info_content {
    margin: 20px;
}
/* Page dédié produit */
.container_content .container_product_info{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 2%;
    background-color: var(--content-bg);
    border-radius: 30px;
    width: 60%;
    min-height: 450px;
    justify-content: center;
}

.container_content .container_primary_product{
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-left: 20px;
    justify-content: flex-start;
    margin-top: 10px;
}
.container_content .container_primary_product .title_product{
    margin: 5px 0;
    color: #505050;
    font-size: 22px;
    font-weight: 800;
    text-transform: none;
}
.container_content .container_primary_product .release_date_product{
    margin: 0;
    text-transform: none;
    font-size: inherit;
    color: #969696;
}
.container_content .container_secondary_product{
    display: flex;
    width: 100%;
}
.container_content .container_secondary_product .container_image{
    flex: 1 1 28%;
    margin: 0 1% 0 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_content .container_secondary_product .container_description{
    flex: 1 1 43%;
    margin: 0 1% 0 1%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 300px;
}
.container_content .container_secondary_product .container_description #mondial_relay_logo{
    width: 50px;
    height: 50px;
}

.container_content .container_secondary_product .container_add_to_cart{
    flex: 1 1 23%;
    margin: 0 1% 0 1%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 300px;
    background-color: var(--primary-pale-color);
}
.container_content .container_secondary_product .container_add_to_cart .price_product{
    font-size: 36px;
    font-weight: 600;
    color: var(--secondary-color);
}
.container_content .container_secondary_product .container_add_to_cart .container_qty{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
.container_content .container_secondary_product .container_add_to_cart .input_number_qty{
    display: flex;
    width: 25%;
}
.container_content .container_secondary_product .container_add_to_cart .button_add{
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #FFC800;
    border-radius: 40px;
    color: var(--secondary-color);
    padding: 10px 17px 9px;
    margin-top: 20px;
    transition: all .2s;
    text-align: center;
    font-weight: 600;
    border: 0;
    cursor: pointer;
}
.container_content .container_secondary_product .container_add_to_cart .button_add:hover{
    color: var(--primary-color);
    background-color: var(--content-bg);
}
/* page infos client */

.container-customer-profile{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.container-customer-infos,
.container-customer-links {
    flex: 1 48%;
}
/* Page info reconditionnement */
.container_content .content{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-flow: column;
    margin-top: 5%;
    background-color: var(--content-bg);
    border-radius: 30px;
    width: 65%;
    justify-content: center;
    text-align: center;
}
.container_content .content .content_title{
    margin: 5px 0;
    color: #505050;
    font-size: 22px;
    font-weight: 800;
    text-transform: none;
}

/* Page recherche */
.container_content .container_search{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-flow: column;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: var(--content-bg);
    border-radius: 30px;
    min-height: 100px;
    width: 65%;
    justify-content: center;
}
.container_content .container_search .content_title{
    margin: 25px 25px 5px 25px;
    color: #505050;
    font-size: 22px;
    font-weight: 800;
    text-transform: none;
}
.container_content .container_search .container_products{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.container_content .container_search .container_products .product_content{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
.container_content .container_search .container_products .product_content .container_image{
    flex: 1 1 28%;
    margin: 0 1% 0 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_content .container_search .container_products .product_content .container_image img{
    min-width: 120px;
    min-height: 120px;
    max-width: 150px;
    max-height: 150px;
}
.container_content .container_search .container_products .product_content .container_description{
    flex: 1 1 43%;
    margin: 0 1% 0 1%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 150px;
    max-height: 150px;
}
.container_content .container_search .container_products .product_content .container_description .title_product{
    margin: 5px 5px 5px 5px;
    color: #505050;
    font-size: 16px;
    font-weight: 600;
    text-transform: none;
}
.container_content .container_search .container_products .product_content .container_description .description {
    margin-bottom: 35px;
}

.container_content .container_search .container_products .product_content .container_add_to_cart{
    flex: 1 1 23%;
    margin: 0 1% 0 1%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 150px;
    max-height: 150px;
}

.container_content .container_search .container_products .product_content .container_add_to_cart .price_product{
    font-size: 36px;
    font-weight: 600;
    color: var(--secondary-color);
}
