{% extends "base.html.twig" %}
{% block body %}
<div class="container_daily_products">
    <section class="homepage_wrapper">
        <h1 class="content_title">Nos jeux de sociétés récents</h1>
        <div class=""
    </section>
    <section class="homepage_wrapper">
        <h1 class="content_title">Nos figurines récents</h1>

    </section>
</div>
{% endblock %}