{% extends 'base.html.twig' %}

{% block body %}
    <section class="text-center">
        <div class="w75 m-auto">
            BLABLABLA
            <br>
            <a href="{{ url('customer.refurbished_toy.request') }}">ICI</a>
        </div>
    </section>
{% endblock %}