{% extends 'base.html.twig' %}

{% block body %}
    <article class="content">
            <h1 class="mt-3 content_title">Dinotoypia vous propose de reprendre vos anciens jouets pour les reconditionner.</h1>
            <br>
            <div>
                <img src="{{ asset('img/economie_circulaire.png') }}" alt="" width="300" height="300">
            </div>

            <p class="mt-5">
                En collaboration avec des artisans, vos anciens jouets peuvent nous être envoyé pour que nous les reconditionnons.
                <br>
                Nous les remettons en état de marche pour leur donner une vie en les proposant à la vente sur notre site.
                <br>
                Si vous jouet est remis en vente et qu'il est acheté, vous recevrez un bon d'achat correspondant au prix de revente de votre ancien jouet.
                <br> <br>
                <a href="{{ url('customer.refurbished_toy.request') }}" class="text-decoration-none link-dark">
                    <b>Ne laissez pas vos vieux jouets dans leur coffre et offrez leur une seconde vie auprès d'un autre enfant ici.</b>
                </a>
            </p>
    </article>
{% endblock %}