{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Accueil{% endblock %}
{% block content_title %}Jurassicback{% endblock %}
{% block page_actions %}

{% endblock %}

{% block main %}
    <table class="datagrid">
        <thead>
        <tr>
            <td>Some Column</td>
            <td>Another Column</td>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
{% endblock %}