<table>
    {% for item in field.value %}
        <tr>
            <td>{{ item.product }}</td>
            <td>-</td>
            <td>{{ item.price }}</td>
            <td>-</td>
            <td>{{ item.quantity }}</td>
        </tr>
    {% endfor %}
</table>

