<table>
    {% for value in field.value %}
        <tr>
            <td>{{ value.product }}</td>
            <td>X</td>
            <td>{{ value.quantity }}</td>
        </tr>
    {% endfor %}
</table>

