{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
<div class="text-center"><a href="{{ url('user_back.custom_crud_field.remove_one_product_unit', {id: field.value}) }}" class="btn btn-danger">-1</a></div>

