{{ include('./style/email_style.html.twig') }}

<body class="body">
    <div class="container-mail">
        <header class="header">
            <div class="container-base">
                Bonjour {{ order.customer.firstname }} {{ order.customer.lastname}},
            </div>
        </header>

        <hr class="hr">

        <div class="cardlayout">
            <div class="container"><h2>Confirmation de votre commande N°{{ order.trackingNumber }}</h2></div>

            <div class="container">La commande vous sera envoyée dans les prochains jours. La facture est disponible sur votre espace client.</div>
        </div>
    </div>
</body>