{% extends 'base.html.twig' %}
{% block body %}
    <br>
    <section>
        <div class="text-center m-auto w-50">
            blabla

            <br><br>
            <a href="" class="btn btn-primary"></a>
        </div>
    </section>
{% endblock %}