{% extends 'base.html.twig' %}
{% block body %}
    <br>
    <section>
        <div class="text-center">
            <img alt='Barcode Generator TEC-IT'
                 src='https://barcode.tec-it.com/barcode.ashx?data={{ refurbishedToy.barCodeNumber }}&code=&translate-esc=true'/>
        </div>
    </section>
{% endblock %}
