{% extends "base.html.twig" %}
{% block body %}
<div class="flex_content reset_password_content flew_column">
    <h1>Confirmation de votre commande</h1>
    <div>Un email de confirmation de votre commande vous a été envoyé</div>
</div>
{% endblock %}